<div class="container">
  <div class="text-center">
    <h1>The Blog</h1>
  </div>
  <div class="text-center">
    <%= will_paginate %>
  </div>
  <%= render 'article', obj: @articles %>
  <div class="text-center">
    <%= will_paginate %>
  </div>
</div><!-- .container -->