<footer class="clearfix">
    <div class="container" id="footer-content">
      <small>Copyright 2016 &copy; <a href="#">John-Michael L'Allier</a> &amp; <a href="#">Catch the Foxes, Inc</a></small>
      <small>
         <ul>
           <li><%= link_to "Home", root_path %></li>
           <li><%= link_to "About", about_path %></li>
           <li><%= link_to "Blog", articles_path %></li>
        </ul>
      </small>
    </div>
</footer>